###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

/.idea/*
!/.idea/codeStyles

.php-cs-fixer.cache

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
.phpunit.cache
coverage
###< phpunit/phpunit ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
